#start
[Unit]
Description=Setup ubuntu platform environment

Before=nodm.service
After=resize-helper.service

[Service]
Type=forking
ExecStart=/etc/init.d/ubuntu.sh

[Install]
WantedBy=multi-user.target
#end

